.cartContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid silver;
  border-radius: 6px;
  padding: 15px;
  margin-bottom: 5px;
  
}
.productImage {
  width: 80px;
}
.data {
    text-align: left;

    h3 {
      color: #1a73e8;
      margin-bottom: 10px;
    }

    p{
      color: #34a853;
      font-weight: bold;
    }
}

.quantitiy {
  background-color: orange;
  width: 25px;
  height: 25px;
  display: inherit;
  text-align: center;
  line-height: 25px;
  color: #fff;
  border-radius: 4px;
  font-weight: bold;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 4px 12px -2px,
  rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.buttonContainer button{
  background-color: #1a73e8;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 4px;
  font-size: 1.6rem !important;
  font-weight: bold;
  line-height: 30px;
  color: #fff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 4px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  margin-left: 5px;
}