.container {
    box-shadow: 0px 5px 24px rgba(149, 157, 165, 0.4);
    width: 250px;
    margin: 0 10px 50px;
    overflow: hidden;
    border: 1px solid silver;
    border-radius: 10px;
    text-align: center;
    transition: all 0.2s ease;

    &:hover {
        box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
          rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
          rgba(0, 0, 0, 0.09) 0px 32px 16px;
      }

    h3 {
        text-align: left;
        font-size: 1.1rem;
        margin: 25px 20px 15px;
        color: #404040;
    }
    p {
        text-align: left;
        margin: 15px 20px;
        font-size: 0.9rem;
        font-weight: 500;
        color: #404040;
      }
}
.productImage {
    width: 230px;
    height: 200px;
    margin: 10px;
}
    
.details {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    
    a{
        text-decoration: none;
        color: #1a73e8;
        font-size: 0.95rem;
    }
}

.buttonsContainer button {
    font-size: 0.9rem;
    background-color: #1a73e8;
    border: none;
    color: #fff;
    height: 30px;
    width: 120px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s ease;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 4px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    margin-left: 5px;

    
    &:hover {
        background-color: #0b499b;
}
}
  
.smallButton {
    width: 30px !important;
    font-size: 1.6rem !important;
    font-weight: bold;
    line-height: 30px;
}

.smallButton img {
    width: 20px !important;
}


@media only screen and (max-width: 1000px) {
    .container {
      width: 45%;
    }
  }
  @media only screen and (max-width: 768px) {
    .container {
        width: 45%;
    }
    .productImage {
        width: 200px;
    }
}
@media only screen and (max-width: 555px) {
    .container {
        width: 80%;
    }
    .productImage {
        width: 230px;
    }
}
@media only screen and (max-width: 400px) {
    .container {
        width: 90%;
    }
    .productImage {
        width: 190px;
    }
}