.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 150px 150px 50px;
    border: 1px solid silver;
    border-radius: 10px;
    background-color: #fff;
    padding: 20px;

    img {
        width: 400px;
    }
}
.textContainer {
    border: 1px solid silver;
    border-radius: 10px;
    padding: 20px ;
    text-align: left;
    margin-left: 20px;
}
.title {
    color: #1a73e8;
    margin: 20px 0 30px;
}
.description{
    color: #404040;
    margin-bottom: 30px;
}
.category {
    color: rgb(62, 62, 62);
    font-weight: bold;
    margin-bottom: 50px;

    span {
        color: orange;
    }
}

.buttonContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .price {
        background-color: #34a853;
        color: #fff;
        font-weight: bold;
        padding: 7px 16px;
        border-radius: 7px;
        box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
        rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px,
        rgba(0, 0, 0, 0.07) 0px 9px 16px;
    }

    a {
        text-decoration: none;
        background-color: #1a73e8;
        color: #fff;
        padding: 7px 18px;
        border-radius: 7px;
        box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
        rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px,
        rgba(0, 0, 0, 0.07) 0px 9px 16px;
        font-weight: bold;
    }
}
@media only screen and (max-width: 1200px){
    .container {
        margin: 120px 80px 50px;
    }
}
@media only screen and (max-width: 1000px){
    .container {
        flex-direction: column;
        justify-content: center;
        img {
            width: 170px;
            margin-bottom: 30px;
        }
    }
    .textContainer { margin: 0;}
}
@media only screen and (max-width: 768px){
    .container {
        margin: 120px 40px 50px;
        justify-content: center;
    }
}
@media only screen and (max-width: 555px){
    .container {
        margin: 120px 20px 50px;
    }
}