.contain {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 150px 175px 50px;
  transition: all 0.2s ease;
}

.cartContain {
  width: 70%;
}
.payments {
  width: 27%;
  background: #fff;
  border: 1px solid silver;
  border-radius: 5px;
  text-align: left;

  p {
    color: rgb(61, 61, 61);
    margin: 20px 20px 10px;
  }
  span {
    color: #1a73e8;
    font-weight: bold;
  }
}
.buttonContainer {
display: flex;
justify-content: space-between;
align-items: baseline;
margin: 50px 10px 20px;
}
.checkout {
  border: none;
  background: #34a853;
  border-radius: 4px;
  color: #fff;
  font-weight: bold;
  box-shadow:  rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
            rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px,
            rgba(0, 0, 0, 0.07) 0px 9px 16px;;
  padding: 7px 16px;
  transition: all 0.2s ease;
  cursor: pointer;
  margin-bottom: 10px;

  &:hover {
    background-color: #167d32;
  }
  }
  .clear {
  border: none;
  background-color: #fff;
  font-weight: bold;
  cursor: pointer;
  color: #34a853;
  transition: all 0.2s ease;

  &:hover {
    color: #167d32;
  }
  }
.complete h3{
  color: #34a853;
  margin-bottom: 60px;
  font-size: 1.5rem;

  &:hover {
    background-color: #08499d;
  }
}
.complete a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background-color: #1a73e8;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
    rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px,
    rgba(0, 0, 0, 0.07) 0px 9px 16px;

    &:hover {
      background-color: #08499d;
    }
}

@media only screen and (max-width: 1200px) {
  .contain {
    margin: 120px 80px 50px;
  }
}
@media only screen and (max-width: 1050px) {
  .contain {
    flex-direction: column-reverse;
    align-items: center;
  }
  .cartContain {
    width: 100%;
  }
  .payments {
    width: 100%;
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 768px){
  .contain {
    margin: 120px 40px 50px;
  }
}
@media only screen and (max-width: 555px){
  .contain {
    margin: 120px 20px 50px;
  }
}